@charset "UTF-8";

body {
    background-color: rgb(192, 192, 236);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    color: rgb(87, 87, 97);
}
h1#principal {
    text-align: center;
    text-decoration: underline;
    background: blue;
    color: white;
}
h2 {
    color: rgb(50, 50, 56);
}
p {
    text-align: justify;
    text-indent: 50px;    
}
h1.aprendendo {
background-color: black;
}
h2.basico {
    color: brown;
    font-weight: bold;
}
h2.intermediario {
    color: chartreuse;
}
h2.avancado {
    color: chocolate;
}
